@model CarpeLibrum_BookClub_23.Models.Message

@{
    ViewBag.Title = "Confirmation";
}

<h2>Confirmation</h2>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfMessage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Home", "Index")
</p>
